// vb-buy

@use "../../foundation/_variable" as v;

.vb{
    margin: 100px auto;
    width: 1080px;
    aspect-ratio: 16/9;
    background-color: #251F17;
    border: 2px solid v.$gray;

    &-buy{
        width: 100%;
        height: 100%;
        display: none;

        &.is-show{
            display: block;
        }

        &__goodsHeading{
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 4px solid #524d4d;
            position: relative;
        }

        &__goodsTitle{
            font-size: 2rem;
            font-weight: bold;
            color: v.$white;
        }

        &__goodsUi{
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            display: flex;
            gap: 0 30px;
        }

        &__level{
            padding: 5px 10px;
            color: v.$white;
            font-weight: 500;
            background-color: #252e55;
            border-radius: 5px;
            box-shadow: 0px 0px 10px v.$black;
            cursor: pointer;

            &::before{
                content: "LVUP:";
            }
        }

        &__change{
            padding: 5px 10px;
            color: v.$white;
            font-weight: 500;
            background-color: #252e55;
            border-radius: 5px;
            box-shadow: 0px 0px 10px v.$black;
            cursor: pointer;
        }

        &__lock{
            padding: 5px 10px;
            color: v.$white;
            font-weight: 500;
            background-color: #252e55;
            border-radius: 5px;
            box-shadow: 0px 0px 10px v.$black;
            cursor: pointer;
        }

        &__goods{
            display: flex;
            flex-wrap: nowrap;
            gap: 0 2%;
            height: 30%;
        }

        &__monster{
            width: 15%;
            height: 100%;
            position: relative;
            background-color: v.$black;
            cursor: grab;
            overflow: hidden;

            &.evo{
                background-color: v.$gold;
            }

            &.lock{
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%) rotate(60deg);
                    width: 40px;
                    height: 242px;
                    background-color: v.$red;
                    opacity: 0.7;
                    z-index: 1;
                }

                &::after{
                    content: 'LOCK';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%) rotate(-30deg);
                    color: v.$white;
                    font-size: 2rem;
                    font-weight: bold;
                    text-shadow: 0 0 10px v.$red;
                    opacity: 0.7;
                    z-index: 1;
                }
            }
        }

        &__img{
            position: absolute;
            top: 0;
            right: 0;
            width: 35%;
        }

        &__hp{
            position: absolute;
            top: 10px;
            left: 10px;
            font-weight: bold;
            color: v.$white;

            &::before{
                content: "HP";
                display: block;
                text-align: center;
            }
        }

        &__status{
            position: absolute;
            top: 60px;
            left: 10px;
            width: calc(100% - 20px);
            display: flex;
            flex-wrap: nowrap;
            gap: 0 calc(4%/3);
        }

        &__atk{
            width: 24%;
            text-align: center;
            font-weight: bold;
            color: v.$red;

            &::before{
                content: "ATK";
                display: block;
                text-align: center;
            }
        }

        &__def{
            width: 24%;
            text-align: center;
            font-weight: bold;
            color: v.$yellow;

            &::before{
                content: "DEF";
                display: block;
                text-align: center;
            }
        }

        &__int{
            width: 24%;
            text-align: center;
            font-weight: bold;
            color: v.$blue;

            &::before{
                content: "INT";
                display: block;
                text-align: center;
            }
        }

        &__spd{
            width: 24%;
            text-align: center;
            font-weight: bold;
            color: v.$green;

            &::before{
                content: "SPD";
                display: block;
                text-align: center;
            }
        }

        &__skill{
            position: absolute;
            top: 110px;
            left: 10px;
            width: calc(100% - 20px);
            display: flex;
            flex-wrap: wrap;
            gap: 0 4%;

            li{
                width: 48%;
                font-size: 0.8rem;
                font-weight: bold;
                color: v.$white;
            }
        }

        &__category{
            position: absolute;
            bottom: 4px;
            left: 10px;
            width: 16px;
        }

        &__name{
            position: absolute;
            bottom: 0;
            left: 36px;
            font-weight: bold;
            color: v.$white;
        }

        &__innerHeading{
            height: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__handTitle{
            width: 49%;
            font-size: 2rem;
            font-weight: bold;
            color: v.$white;
            text-align: center;
            border: 4px solid #524d4d;
        }

        &__fieldTitle{
            width: 49%;
            font-size: 2rem;
            font-weight: bold;
            color: v.$white;
            text-align: center;
            border: 4px solid #524d4d;
        }

        &__inner{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            height: 50%;
        }

        &__hand{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            width: 49%;
        }

        &__group{
            width: 49%;
        }

        &__field{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            height: 60%;
            background-color: #3f3f3f;
        }

        &__ui{
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: flex-end;
            height: 40%;
        }

        &__life{
            padding: 10px;
            color: v.$white;
            font-weight: 500;
            background-color: #9e274b;
            border-radius: 5px;
            box-shadow: 0px 0px 10px v.$black;

            &::before{
                content: "ライフ：";
            }
        }

        &__money{
            padding: 10px;
            color: v.$white;
            font-weight: 500;
            background-color: v.$gold;
            border-radius: 5px;
            box-shadow: 0px 0px 10px v.$black;

            &::before{
                content: "金貨：";
            }
        }

        &__nextBattle{
            padding: 30px;
            font-size: 2rem;
            font-weight: bold;
            color: v.$white;
            background-color: #252e55;
            border-radius: 20px;
            box-shadow: 0px 0px 10px v.$black;
            cursor: pointer;
        }
    }
}