// vb-explanation

@use "../../foundation/_variable" as v;

.vb-explanation{
    margin: 0 auto;
    width: 1080px;

    &__tabMenu{
        display: flex;
    }

    &__tabItem{
        width: 50%;
        padding: 10px;
        font-size: 2rem;
        text-align: center;
        background-color: v.$gray;
        cursor: pointer;

        &.is-active{
            color: v.$white;
            background-color: #252e55;
        }
    }

    &__tabList{
        display: none;

        &.is-active{
            display: block;
        }
    }

    &__rule{
        padding: 10px 0;
    }

    &__ruleTitle{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        font-size: 1.6rem;
        color: v.$white;
        text-align: center;
        background-color: v.$blue;
    }

    &__ruleList{
        margin-bottom: 20px;
        list-style: disc inside;

        li{
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    &__monster{
        padding: 10px 0;
    }

    &__monsterList{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 2%;

        .vb-buy__monster{
            height: 181.05px;
            cursor: auto;
        }
    }

    &__monsterRarity{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        font-size: 1.6rem;
        color: v.$white;
        text-align: center;
        background-color: v.$blue;
    }
}