// vb-battle

@use "../../foundation/_variable" as v;

.vb-battle{
    width: 100%;
    height: 100%;
    display: none;

    &.is-show{
        display: block;
    }

    &__ui{
        height: 70%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        position: relative;
    }

    &__text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 4rem;
        color: v.$white;
        font-weight: bold;
        text-shadow: 0px 0px 4px v.$red;
    }

    &__monsterImg{
        width: 49%;
        padding: 13%;
        position: relative;
    }

    &__damage{
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3rem;
        color: v.$red;
        font-weight: bold;
        text-shadow: 0px 0px 2px v.$white;
    }

    &__inner{
        height: 30%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__enemyField{
        width: 49%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: #3f3f3f;
    }

    &__myField{
        width: 49%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: #3f3f3f;
    }

    &__monsterArea{
        &:nth-of-type(1){
            grid-row: 1/2;
            grid-column: 1/2;
            background: no-repeat;
            background-size: cover;
            background-image: url(../img/monsterArea1.png);
        }
        &:nth-of-type(2){
            grid-row: 2/3;
            grid-column: 1/2;
            background: no-repeat;
            background-size: cover;
            background-image: url(../img/monsterArea2.png);
        }
        &:nth-of-type(3){
            grid-row: 3/4;
            grid-column: 1/2;
            background: no-repeat;
            background-size: cover;
            background-image: url(../img/monsterArea3.png);
        }
        &:nth-of-type(4){
            grid-row: 1/2;
            grid-column: 2/3;
            background: no-repeat;
            background-size: cover;
            background-image: url(../img/monsterArea4.png);
        }
        &:nth-of-type(5){
            grid-row: 2/3;
            grid-column: 2/3;
            background: no-repeat;
            background-size: cover;
            background-image: url(../img/monsterArea5.png);
        }
        &:nth-of-type(6){
            grid-row: 3/4;
            grid-column: 2/3;
            background: no-repeat;
            background-size: cover;
            background-image: url(../img/monsterArea6.png);
        }

        &--reverse{
            &:nth-of-type(1){
                grid-column: 2/3;
            }
            &:nth-of-type(2){
                grid-column: 2/3;
            }
            &:nth-of-type(3){
                grid-column: 2/3;
            }
            &:nth-of-type(4){
                grid-column: 1/2;
            }
            &:nth-of-type(5){
                grid-column: 1/2;
            }
            &:nth-of-type(6){
                grid-column: 1/2;
            }
        }
    }

    &__monster{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #000000;
        cursor: grab;

        &.evo{
            background-color: v.$gold;
        }
    }

    &__img{
        position: absolute;
        top: 0;
        right: 0;
        width: 35%;
        height: 100%;

        &--reverse{
            position: absolute;
            top: 0;
            left: 0;
            width: 35%;
            height: 100%;
        }
    }

    &__hp{
        position: absolute;
        top: 0;
        left: 10px;
        font-weight: bold;
        color: v.$white;

        &--reverse{
            position: absolute;
            top: 0;
            right: 10px;
            font-weight: bold;
            color: v.$white;
        }
    }

    &__status{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 60%;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 calc(4%/3);

        &--reverse{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 60%;
            display: flex;
            flex-wrap: nowrap;
            gap: 0 calc(4%/3);
        }
    }

    &__atk{
        width: 24%;
        text-align: center;
        font-weight: bold;
        color: v.$red;
    }

    &__def{
        width: 24%;
        text-align: center;
        font-weight: bold;
        color: v.$yellow;
    }

    &__int{
        width: 24%;
        text-align: center;
        font-weight: bold;
        color: v.$blue;
    }

    &__spd{
        width: 24%;
        text-align: center;
        font-weight: bold;
        color: v.$green;
    }

    &__skill{
        position: absolute;
        bottom: 24px;
        left: 10px;
        width: calc(100% - 20px);
        display: flex;
        flex-wrap: wrap;
        gap: 0 4%;

        [data-skill]{
            width: 48%;
            font-weight: bold;
            color: v.$white;
        }
    }

    &__category{
        position: absolute;
        bottom: 4px;
        left: 10px;
        width: 16px;

        &--reverse{
            position: absolute;
            bottom: 4px;
            right: 10px;
            width: 16px;
        }
    }

    &__name{
        position: absolute;
        bottom: 0;
        left: 36px;
        font-weight: bold;
        color: v.$white;

        &--reverse{
            position: absolute;
            bottom: 0;
            right: 36px;
            font-weight: bold;
            color: v.$white;
        }
    }

    &__value{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 2.5rem;
        color: v.$white;
        font-weight: bold;
        text-shadow: 0px 0px 5px v.$red;

        &.heal{
            text-shadow: 0px 0px 4px v.$green;
        }
    }

    &__detail{
        position: absolute;
        bottom: 100%;
        left: 0;
        box-shadow: 0 0 6px v.$white;
        display: none;
        z-index: 10;

        &.is-show{
            display: block;
        }

        .vb-buy__monster{
            width: 100%;
            height: 100%;
        }
    }
}