/* 共通処理 */

@use "_variable" as v;

html{
    font-size: 16px;
}

body{
	font-family: "Inter", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	line-height: 1.5;
}

a{
    color: v.$black;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 768px){
    html{
        font-size: 16px;
    }
}